<div ng-app>
    <div class="chat-container">
        <h3 class="text-center">Сообщения</h3>
        <div class="recipient-name">
            <span>{{currentChat.recipientName}}</span>
        </div>
        <hr>
        <div class="messaging">
<!--            TODO напилить поиск по чатам-->
<!--            <div class="srch_bar">-->
<!--                <div class="stylish-input-group">-->
<!--                    <input type="text" class="search-bar" placeholder="Поиск">-->
<!--                    <span class="input-group-addon">-->
<!--                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>-->
<!--                </span></div>-->
<!--            </div>-->
            <div class="mesgs">
                <div class="msg_history" scroll="messages">
                    <div ng-repeat="m in messages | orderBy: 'timestamp'">
                        <div class="incoming_msg" ng-if="currentChat.senderId!=m.senderId">
                            <div class="incoming_msg_img">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36"
                                     style="height: 52px; width: 52px;">
                                    <mask id="avatar">
                                        <circle cx="18" cy="18" fill="white" r="18"></circle>
                                    </mask>
                                    <g mask="url(#avatar)">
                                        <image x="0" y="0" ng-if="!currentChat.recipientAvatar" height="100%"
                                               preserveAspectRatio="xMidYMid slice"
                                               width="100%" href="https://ptetutorials.com/images/user-profile.png"
                                               style="height: 36px; width: 36px;"></image>
                                        <image x="0" y="0" height="100%"
                                               preserveAspectRatio="xMidYMid slice"
                                               width="100%" href="{{currentChat.recipientAvatar}}"
                                               style="height: 36px; width: 36px;"></image>
                                        <circle class="outline" cx="18" cy="18" r="18"></circle>
                                    </g>
                                </svg>
                            </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <span>{{currentChat.recipientName}}:</span>
                                    <p>{{m.content}}</p>
                                    <span class="time_date">{{m.timestamp}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="outgoing_msg" ng-if="currentChat.senderId==m.senderId">
                            <div class="sent_msg">
                                <span>Я:</span>
                                <p>{{m.content}}</p>
                                <span class="time_date">{{m.timestamp}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="type_msg">
                    <form ng-submit="sendMessage()">
                        <div class="input_msg_write">
                            <textarea id="chatInput" ng-enter="sendMessage()" type="text" wrap="soft" class="write_msg"
                                      placeholder="Введите сообщение" ng-model="messageText" required/>
                            <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o"
                                                                          aria-hidden="true"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>