<div class="chat_container">
    <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
            <span>Чаты</span>
            <div class="chat_search">
                <input type="text" placeholder="Поиск..." ng-model="searchText">
            </div>
        </div>
    </md-toolbar>
    <md-content style="height: 90%">
        <md-list class="md-dense" flex>
            <md-list-item class="md-3-line" ng-repeat="c in chats | filter:searchText">
                <div class="chat_avatar">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36"
                         style="height: 45px; width: 45px;">
                        <mask id="avatar">
                            <circle cx="18" cy="18" fill="white" r="18"></circle>
                        </mask>
<!--                        <a ng-click="getInfo()">-->
                            <g mask="url(#avatar)">
                                <image x="0" y="0" ng-if="!c.recipientAvatar" height="100%"
                                       preserveAspectRatio="xMidYMid slice"
                                       width="100%" href="https://ptetutorials.com/images/user-profile.png"
                                       style="height: 36px; width: 36px;"></image>
                                <image x="0" y="0" height="100%"
                                       preserveAspectRatio="xMidYMid slice"
                                       width="100%" href="{{c.recipientAvatar}}"
                                       style="height: 36px; width: 36px;"></image>
                                <circle class="outline" cx="18" cy="18" r="18"></circle>
                            </g>
<!--                        </a>-->
                    </svg>
                </div>
                <div class="md-list-item-text" layout="column">
                    <a id="{{c.chatId}}" ng-click="open(c.recipientId, c.chatId)"
                       class="btn btn-info btn-margin notification" title="{{c.recipientName}}">
                        <span>{{c.recipientName}}</span>
                        <span ng-if="c.unreadMessageCount>0" class="badge">{{c.unreadMessageCount}}</span>
                    </a>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </md-content>
</div>
