server:
  port: 8180
  servlet:
    context-path: /app
spring:
  datasource:
    platform: postgres
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/lightcrm?currentSchema=public
    username: postgres
    password: 12345
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL94Dialect
jwt:
  secret: yW5t5wKaayfiU3J5PIkobDACPSuWiHx1MdM1g0MdFE9AcI8Hc2b5hlLCJvDiawkeYycLOCHdYUXnnnKJ
  token-lifetime: 86400000 #часы * минуты * секунды * миллисекунды