<!doctype html>

<html ng-app="app">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<!--    Скрипты остались с магазина. В дальнейшем ненужное выпилим-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-sanitize.js"></script>
    <script src="https://morgul.github.io/ui-bootstrap4/ui-bootstrap-tpls-3.0.6.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
</head>

<body>

<div class="container">
    <div ng-controller="indexController">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" ng-if="isUserLoggedIn()">
            <div class="container-fluid" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="btn btn-outline-primary" href="#!/">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-primary" href="#!/profiles/profile">Профиль</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-primary" href="#!/tasks">Задачи</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-primary" href="#!/profiles">Сотрудники</a>
                    </li>


                </ul>
                <div class="d-grid gap-2 d-md-block" ng-if="isUserLoggedIn()">
                    <button class="btn btn-outline-secondary" ng-click="tryToLogout()">Выйти</button>
                    <span class="navbar-text">{{currentUserName}}</span>
                </div>
                </ul>
            </div>
        </nav>
    </div>

    <ng-view></ng-view>

    <script src="index.js"></script>
    <script src="auth/auth.js"></script>
    <script src="profile/profile.js"></script>
    <script src="tasks/tasks.js"></script>
</div>
</body>
</html>