<h3>Профиль сотрудника</h3>

<div class="mb-3 text-left">

  <hr/>
  <form class="form-signin">
    <div class="form-group row">
      <label for="nickname" class="col-sm-3 col-form-label col-form-label-lg">Логин</label>
      <div class="col-sm-5">
        <input type="text" readonly class="form-control form-control-lg" id="nickname"
               value="{{profile.userLogin}}">
      </div>
    </div>

    <div class="form-group row">
      <label for="lastname" class="col-sm-3 col-form-label col-form-label-lg">Фамилия</label>
      <div class="col-sm-5">
        <input type="text" readonly class="form-control form-control-lg" id="lastname"
               value="{{profile.lastname}}">
      </div>
    </div>
    <div class="form-group row">
      <label for="firstname" class="col-sm-3 col-form-label col-form-label-lg">Имя</label>
      <div class="col-sm-5">
        <input type="text" readonly class="form-control form-control-lg" id="firstname"
               value="{{profile.firstname}}">
      </div>
    </div>
    <div class="form-group row">
      <label for="middlename" class="col-sm-3 col-form-label col-form-label-lg">Отчество</label>
      <div class="col-sm-5">
        <input type="text" readonly class="form-control form-control-lg" id="middlename"
               value="{{profile.middlename}}">
      </div>
    </div>

    <div class="form-group row">
      <label for="staticEmail" class="col-sm-3 col-form-label col-form-label-lg">Email</label>
      <div class="col-sm-5">
        <input type="text" readonly class="form-control form-control-lg" id="staticEmail"
               value="{{profile.email}}">
      </div>
    </div>

    <div class="form-group row">
      <label for="phone" class="col-sm-3 col-form-label col-form-label-lg">Телефон</label>
      <div class="col-sm-5">
        <input type="text" readonly class="form-control form-control-lg" id="phone"
               value="{{profile.phone}}">
      </div>
    </div>
    <div class="form-group row">
      <label for="birthday" class="col-sm-3 col-form-label col-form-label-lg">Дата
        рождения</label>
      <div class="col-sm-5">
        <input type="text" readonly class="form-control form-control-lg" id="birthday"
               value="{{profile.birthday}}">
      </div>
    </div>

    <div class="form-group row">
      <label for="staticSex" class="col-sm-3 col-form-label col-form-label-lg">Пол</label>
      <div class="col-sm-5">
        <input type="text" readonly class="form-control form-control-lg" id="staticSex"
               value="{{profile.sex}}">
      </div>
    </div>
    <hr/>
    <div class="form-group row">
      <label for="staffUnit" class="col-sm-3 col-form-label col-form-label-lg">Должность</label>
      <div class="col-sm-5">
        <input type="text" readonly class="form-control form-control-lg" id="staffUnit"
               value="{{profile.staffUnitName}}">
      </div>
    </div>
    <div class="form-group row">
      <label for="employmentDate" class="col-sm-3 col-form-label col-form-label-lg">Дата
        приема</label>
      <div class="col-sm-5">
        <input type="text" readonly class="form-control form-control-lg" id="employmentDate"
               value="{{profile.employmentDate}}">
      </div>
    </div>

    <div class="form-group row">
      <label for="department" class="col-sm-3 col-form-label col-form-label-lg">Отдел</label>
      <div class="col-sm-5">
        <input type="text" readonly ng-repeat="d in profile.departmentNames" class="form-control form-control-lg" id="department"
               value="{{d}}">
      </div>
    </div>
    <div class="form-group row">
      <label for="leaderDepartment" class="col-sm-3 col-form-label col-form-label-lg">Вышестоящий
        отдел</label>
      <div class="col-sm-5">
        <input type="text" readonly class="form-control form-control-lg" id="leaderDepartment"
               value="{{profile.managedDepartmentName}}">
      </div>
    </div>
    <div class="form-group row">
      <label for="companies" class="col-sm-3 col-form-label col-form-label-lg">Клиенты</label>
      <div class="col-sm-5">
        <input type="text" readonly ng-repeat="c in profile.companyNames" class="form-control form-control-lg" id="companies"
               value="{{c}}">
      </div>
    </div>

    <div class="form-group row">
      <label for="roles" class="col-sm-3 col-form-label col-form-label-lg">Уровни доступа</label>
      <div class="col-sm-5">
        <input type="text" readonly ng-repeat="r in profile.roles" class="form-control form-control-lg" id="roles"
               value="{{r}}">
      </div>
    </div>
    <div class="form-group row">
      <label for="priorities" class="col-sm-3 col-form-label col-form-label-lg">Доп. доступы</label>
      <div class="col-sm-5">
        <input type="text" readonly readonly ng-repeat="p in profile.priorities" class="form-control form-control-lg" id="priorities"
               value="{{p}}">
      </div>
    </div>

    <!--    <div class="form-group row">-->
    <!--      <label for="staticCity" class="col-sm-3 col-form-label col-form-label-lg">Город-->
    <!--        проживания</label>-->
    <!--      <div class="col-sm-5">-->
    <!--        <input type="text" readonly class="form-control form-control-lg" id="staticCity"-->
    <!--               value="{{profile.city}}">-->
    <!--        <br/>-->
    <!--        <button type="button" class="btn btn-lg btn-primary btn-block" data-toggle="modal"-->
    <!--                data-target="#exampleModal">Изменить-->
    <!--        </button>-->
    <!--        <button class="btn btn-lg btn-danger btn-block" ng-if="profile.enabled"-->
    <!--                ng-click="delete(profile.id)">Удалить аккаунт-->
    <!--        </button>-->
    <!--        <p class="mt-5 mb-3 text-muted">© LightCRM 2021</p>-->
    <!--      </div>-->
    <!--    </div>-->
  </form>
</div>

<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Изменение профиля</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="myForm" novalidate ng-submit="tryToAuth()">
          <div class="form-group row">

            <label for="profileUsername" class="col-sm-3 col-form-label">Nickname</label>
            <div class="col-sm-8">
              <small id="nickHelp" class="form-text text-muted"><b>Внимание!</b><br/>Это имя
                используется при входе в систему.</small>
              <input type="text" class="form-control" value="profile.username"
                     ng-model="profile.username"
                     id="profileUsername"
                     placeholder="nickname">
            </div>
          </div>

          <div class="form-group row">
            <label for="profileEmail" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" value="profile.email" ng-model="profile.email"
                     id="profileEmail"
                     placeholder="email">
            </div>
          </div>

          <div class="form-group row">
            <label for="profilePhone" class="col-sm-3 col-form-label">Телефон</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" value="profile.phone" ng-model="profile.phone"
                     id="profilePhone"
                     placeholder="телефон">
            </div>
          </div>

          <div class="form-group row">
            <label for="profileFirstname" class="col-sm-3 col-form-label">Имя</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" value="profile.firstname"
                     ng-model="profile.firstname"
                     id="profileFirstname" placeholder="имя">
            </div>
          </div>

          <div class="form-group row">
            <label for="profileSurname" class="col-sm-3 col-form-label">Фамилия</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" value="profile.surname"
                     ng-model="profile.surname"
                     id="profileSurname" placeholder="фамилия">
            </div>
          </div>

          <div class="form-group row">
            <label for="profileBirthday" class="col-sm-3 col-form-label">Дата
              рождения</label>
            <div class="col-sm-8">
              <small id="birthdayHelp"
                     class="form-text text-muted"><span>{{profile.birthday}}</span></small>
              <input type="datetime-local" class="form-control" value="profile.birthday"
                     ng-model="profile.birthday"
                     id="profileBirthday" placeholder="{{profile.birthday}}">
            </div>
          </div>

          <div class="form-group row">
            <label for="profileSex" class="col-sm-3 col-form-label">Пол</label>
            <div class="col-sm-8">
              <select class="form-control " type="text" id="profileSex" ng-model="profile.sex">
                <option selected value="profile.sex"></option>
                <option selected value="мужской">мужской</option>
                <option value="женский">женский</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="profileCity" class="col-sm-3 col-form-label">Город проживания</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" value="profile.city" ng-model="profile.city"
                     id="profileCity" placeholder="город проживания">
            </div>
          </div>


          <div class="form-group row">
            <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-8">
              <small id="passwordHelp" class="form-text text-muted">Для изменения профиля введите
                password</small>
              <input type="password" required ng-model="user.password" class="form-control"
                     id="inputPassword">
            </div>
          </div>
          <div class="modal-footer">

            <button class="btn btn-success" ng-disabled="myForm.$invalid" type="submit">Изменить
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>